<p>登録済みの本</p><br>
<div class="row">
  <% (current_user.publications).each do |publication| %>
    <div class="col-md-4">
      <%= publication[:title] %><br>
      <%= publication[:author] %><br>
      <%= image_tag(publication[:image] , size: '200x200')%>
    </div>
  <% end %>
</div>