 <% if @good.present? %>
    <%= link_to post_good_path(post_id: post.id, id: @good.id), method: :delete, remote: true do %>
      <div class="vertical_like">
        <i class="material-icons red-text">いいね済</i>
        <span class="red-text">
          <%# いいねのカウントpost.goods_count %>
        </span>
      </div>
    <% end %>
  <% else %>
    <%= link_to post_goods_path(post.id), method: :post, remote: true do %>
      <div class="vertical_like">
        <i class="material-icons grey-text text-darken-2">いいね</i>
        <span class="grey-text text-darken-2">いいね
          <%# いいねのカウントpost.goods_count %>
        </span>
      </div>
    <% end %>
  <% end %>