 <% if @good.present? %>
    <%= link_to post_good_path(post_id: post.id, id: @good.id), method: :delete, remote: true do %>
      <div class="vertical_like">
        <span class="fa fa-heart like-btn-unlike"></span>
        <span class="red-text">
          <%# いいねのカウントpost.goods_count %>
        </span>
      </div>
    <% end %>
  <% else %>
    <%= link_to post_goods_path(post.id), method: :post, remote: true do %>
      <div class="vertical_like">
        <span class="fa fa-heart like-btn"></span>
          <%# いいねのカウントpost.goods_count %>
      </div>
    <% end %>
  <% end %>